@using Hans.UserSample.Web.Helpers
@model Hans.UserSample.Web.Models.UserListModel

@{
    ViewData["Title"] = "Index";
}

<h1>Manage User(s)</h1>

<div class="pb-3 clearfix"></div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
            <th scope="col">Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            Model.PageIndex++;
        <tr>
            <td>@Model.PageIndex</td>
            <td>@item.Username</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Role</td>
            <td>@item.Phone</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>

@Html.PageLinks(Model.PageSize, Model.TotalPages, Model.CurrentPage, ViewBag.CurrentQuery as string)

<div class="pb-3 clearfix"></div>

@Html.ActionLink("Create New", "Create", "User", null, new { @class = "btn btn-sm btn-primary" })

